#django==3.1.14
#whitenoise
#django-debug-toolbar
#sendgrid
## using 4.0.5

asgiref==3.7.0
backports.zoneinfo==0.2.1
django==4.2.11
django-debug-toolbar==3.5.0
python-http-client==3.3.7
pytz==2022.1
boto3==1.28.21
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
whitenoise==6.2.0
